@import "../CSS/variables.scss";

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.clockContainer {
  background-color: lightgrey;
  border: 1px solid $black;
  border-radius: $border-radius;
  width: 80%;
  height: 30%;
  margin: 2.5%;
  box-shadow: 1px 1px 5px $black;
}
